@use '../../styles/variables' as *;

.pane {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid $color-dominant-border;
  background: $color-dominant-light;
  overflow: hidden;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    font-weight: 600;
    border-bottom: 1px solid $color-dominant-border;
    background: $color-dominant;

    &-end {
      font-weight: 400;
      font-style: italic;
      font-size: inherit;
    }
  }

  &-body {
    flex: 1;
    position: relative;

    > div,
    :global(.monaco-editor) {
      width: 100%;
      height: 100%;
    }

    :global(.monaco-editor),
    :global(.monaco-editor .margin),
    :global(.monaco-editor .monaco-editor-background) {
      background-color: $color-secondary;
    }
  }
}
