@use '../../styles/variables' as *;

.pane {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid $color-dominant-border;
  background: $color-dominant-light;
  overflow: hidden;
}

.pane-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  font-weight: 600;
  border-bottom: 1px solid $color-dominant-border;
  background: $color-dominant;
}

.pane-header-end {
  font-weight: 400;
  font-style: italic;
  font-size: inherit;
}

.pane-body {
  flex: 1;
  position: relative;
}

.pane-body > div,
.pane-body :global(.monaco-editor) {
  width: 100%;
  height: 100%;
}

.pane-body :global(.monaco-editor),
.pane-body :global(.monaco-editor .margin),
.pane-body :global(.monaco-editor .monaco-editor-background) {
  background-color: $color-secondary;
}
